body, h3, p, h4 {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
* {
	 box-sizing: border-box;
}
body {
	font-family: "Snell Roundhand", cursive;
}
.header {
  height: 100vh;
  background-color: #eee;
  background-image: url(https://images.unsplash.com/photo-1513279922550-250c2129b13a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.header-title {
  font-size: 140px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  margin: auto;
}
.page-header{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
}
.content {
  /**/ display: flex;
  /**/ justify-content: space-around; 
  /*Размер шрифта 0, поэтому таблицу не видно*/
  /*font-size: 0; */ 
  width: 80%;
  margin: 100px auto 300px ;
}
.card {
  display: inline-block;  
  width: 350px; 
  padding: 45px 45px 70px;
  box-shadow: 5px 5px 6px rgba(210, 105, 30, .5);
}
/*.cities-card {
}*/
.cities {
  /**/padding: 45px 45px 70px;
  /**/box-shadow: 5px 5px 6px rgba(210, 105, 30, .5);
}
th {
  padding-bottom: 20px;
}
td {
  margin: 20px;
  padding: 20px;
}
.card-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.card-text {
  font-size: 16px;
}
.card-image {
  width: 100%;
  margin-bottom: 25px;
}
.footer {
  height: 300px;
  background-color: black;
  display: flex;
}
.footer-author {
  color: white;
  font-size:24px;
  margin: auto;
}